.all-service {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 100px;
}
.all-service .top {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.all-service .top .list {
  padding: 50px 35px;
  display: inline-flex;
  height: 461.39px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20.69px;
  flex-shrink: 0;
  background: #f6f3fc;
}
.all-service .top .list .title {
  display: flex;
  width: 117.862px;
  height: 26.4px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #292930;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
}
.all-service .top .list ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.all-service .top .list ul li {
  display: flex;
  height: 43px;
  padding: 9px 76.459px 9px 6px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 30px;
  border: 1px solid #ddd;
  background: #fff;

  color: #292930;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.all-service .top .list ul li img {
  width: 25px;
}