.ready-to-start {
  width: 1220px;
  height: 440px;
  /* border-radius: 30px; */
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  position: relative;
}
.ready-to-start .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.ready-to-start .title {
  display: flex;
  width: 483.93px;
  height: 104px;
  flex-direction: column;
  justify-content: center;

  color: #292930;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.ready-to-start .body {
  display: flex;
  width: 499.149px;
  height: 75px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #292930;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 30px;
}
.ready-to-start .container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.ready-to-start .container .circle {
  display: flex;
  width: 70px;
  height: 70px;
  padding: 14px 13.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 35px;
  background: var(--blue);
}
.ready-to-start .container .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ready-to-start .container .content span:first-child {
  display: flex;
  width: 257.39px;
  height: 26.4px;
  flex-direction: column;
  justify-content: center;

  color: #292930;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
}
.ready-to-start .container .content span:last-child {
  display: flex;
  width: 151.157px;
  height: 19.2px;
  flex-direction: column;
  justify-content: center;

  color: #292930;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
.ready-to-start .right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.ready-to-start .right button {
  display: flex;
  width: 203px;
  height: 58.25px;
  padding: 13.875px 29.689px 15.125px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 30px;
  background: var(--blue);

  outline: none;
  border: none;
  cursor: pointer;

  color: #292930;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.25px;
}
.ready-to-start .blue-circle {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 100px;
  background: #175cff;
  bottom: 0;
  left: 500px;
}
.ready-to-start .yellow-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: var(--blue);

  bottom: 0;
  left: 760px;
}
.ready-to-start .white-bar {
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: 0;
  background-color: white;
}
@media (max-width: 767px) {
  .ready-to-start {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }
  .ready-to-start .title {
    width: 320px;
    font-size: 24px;
    text-align: center;
    line-height: unset;
  }
  .ready-to-start .body {
    width: 320px;
  }
  .ready-to-start .blue-circle,
  .ready-to-start .yellow-circle {
    display: none;
  }
  .ready-to-start .white-bar {
    display: none;
  }
}
