.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-image: #0c0520;
  padding: 62px 0px 45px 0px;
  background: #f2fdff;
  margin: -3px 0px;
  /* margin-bottom: 180px; */
  /* height: 50pc; */
  /* height: 100.5dvh; */
  height: 980px;
  overflow: hidden;
}
.container-hero .video-overlay {
  position: absolute;
  width: 100%;
  background-color: #000000c5;
  height: 980px;
}
.container-hero .video {
  position: absolute;
  z-index: 0;
  height: 980px;
  width: 100%; 
  object-fit: cover; 
}
.content-hero h2 {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
  z-index: 6;
}
.businss_span {
  position: relative;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  z-index: 6;
}

.businss_span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--dark-blue),
    var(--blue),
    var(--light-blue)
  );
  z-index: 6;
}
.content-hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 90px;
  padding: 0 50px;
  width: 50%;
  z-index: 6;
}
.content-hero p {
  color: #ffffffb2;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1px;
  z-index: 6;
}
.container-hero .MainButton-container button {
  background-color: var(--blue);
}
.content-image {
  /* width: 541px; */
  margin-top: 100px;
  text-align: left;
  /* border: 1px solid red; */
  z-index: 6;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.animated-text {
  position: absolute;
  top: 440px;
  right:0px;
  /* right: 160px; */
  /* z-index: 999; */
  z-index: 1;
  width: 800px;
}
.animated-text svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}
.animated-text svg text {
  animation: stroke 10s infinite alternate;
  stroke-width: 2;
  stroke: #55a1ce;
  font-size: 160px;
  transition: 5s linear;
}
@keyframes stroke {
  0% {
    fill: rgba(85, 161, 206, 0);
    stroke: rgba(85, 161, 206, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(85, 161, 206, 0);
    stroke: rgba(85, 161, 206, 1);
  }
  80% {
    fill: rgba(85, 161, 206, 0);
    stroke: rgba(85, 161, 206, 1);
    stroke-width: 3;
  }
  90% {
    fill: linear-gradient(135deg, #6f53e1, #42a3d0, #32cbc8);
    transition: fill 6s ease; /* Transition the fill color */
  }
  100% {
    fill: linear-gradient(135deg, #6f53e1, #42a3d0, #32cbc8);
    stroke: rgba(85, 161, 206, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: transparent;
}
.container-hero .images-holder {
  /* height: 1440px; */
  /* border: 1px solid red; */
  width: fit-content;
  overflow: hidden;
  display: flex;
  gap: 50px;
  transform: rotate(-22deg);
}
.container-hero .images-holder .images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-hero .images-holder .images img {
  width: 339px;
  height: 460px;
}
.container-hero .images-holder .left .images {
  animation: slideUp 10s infinite linear alternate;
}
.container-hero .images-holder .right .images {
  animation: slideDown 10s infinite linear alternate;
}
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@media (min-width: 280px) and (max-width: 800px) {
  .container-hero {
    flex-direction: column;
    height: -webkit-fill-available;
    margin-bottom: 0;
  }

  .content-hero {
    width: -webkit-fill-available;
    padding: 50px 20px;
    align-items: center;
  }
  .content-hero h2 {
    font-size: 39px;
    text-align: center;
    color: white;
    width: -webkit-fill-available;
  }
  .container-hero span {
    font-size: 39px;
  }
  .content-image img {
    display: none;
  }
  .content-hero p {
    color: #bdb4b4;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .container-hero {
    padding: 20px 0px 20px 0px;
    background-color: var(--dark-blue);
  }
}
@media (min-width: 801px) and (max-width: 1024px) {
  .container-hero {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .content-hero {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 50px;
  }
}
@media (max-width: 767px) {
  .container-hero .images-holder {
    display: none;
  }
  .animated-text {
    top: 140px;
    /* left: 50%; */
    margin: 60px auto 0;
    position: static;
    /* right: 160px; */
    width: 100%;
    text-align: center;
  }
  .animated-text svg {
    width: 100%;
    height: 100%;
  }
  .animated-text svg text {
    font-size: 100px;
  }
  .content-hero {
    margin-top: 0px;
    padding-top: 0;
  }
}