.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 100px;
}

.statistics .stat {
  width: 274.5px;
  height: 318.7px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 117px 0px rgba(196, 206, 213, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.statistics .stat .number {
  color: #292930;
  text-align: center;
  font-family: Poppins;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: -2px;
}
.statistics .stat .name {
  color: #636363;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.statistics .stat .circle {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 23.5px 27.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 30px;
}
.statistics .stat .circle.yellow {
  background: #ffc226;
}
.statistics .stat .circle.pink {
  background: #f792ff;
}
.statistics .stat .circle.red {
  background: #ff8c91;
}
.statistics .stat .circle.green {
  background: #a6e155;
}
