.contact-info-container h1 {
  font-family: "Jost", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin: 10px 0px;
  text-transform: capitalize;
  /* padding-bottom: 30px; */
}

.to-contact-us {
  padding-bottom: 60px;
}

.container-for-all-contact-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 30px; */
  padding: 100px 100px;
  background-repeat: no-repeat;
  background-image: url('./../../Images/Robot/contact-shape.png');
}

.content-info {
  display: flex;
  align-items: center;
  gap: 52px;
  padding-bottom: 67px;
  width: -webkit-fill-available;
}


.content-info span {
  margin: 0;
  border: none;
  color: #636363;
  font-family: "Jost", sans-serif;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.content-info h3 {
  margin: 5px 0px;
  border: none;
  color: var(--dark-blue);
  font-family: "Jost", sans-serif;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: capitalize;
}

.contact-info-container {
  width: 50%;
}

/* Contact form container */
.contact-form-container {
  padding: 20px 50px 50px;
  background-color: white;
  box-shadow: 0px 2px 25px 0px #0c052054;
  border-radius:
    12px;
  width: 100%;
}

.form-container {}

.label-for-input {
  /* margin: 5px 0px; */
  border: none;
  color: var(--dark-blue);
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Form input fields */
.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Error message */
.contact-form-container span {
  color: red;
}

/* Submit button */
.contact-form-container button[type="submit"] {
  width: -webkit-fill-available;
  height: 53px;
  color: white;
  background: #0c0520;
  border-radius: 12px;
  border: none;
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.contact-form-container button[type="submit"]:hover {
  background-color: var(--blue);
}

.contact-form-container h1 {
  text-align: center;
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  font-size: 23px;
  color: var(--dark-blue);
  padding-bottom: 18px;
  padding-top: 18px;
}


@media (min-width:280px) and (max-width:1024px) {
  .container-for-all-contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }

  .contact-info-container {
    width: -webkit-fill-available;
  }

  .contact-info-container h1 {
    font-size: 30px;
    text-align: center;
    display: none;
  }

  .to-contact-us {
    padding-bottom: 24px;
  }

  .contact-form-container {
    padding: 20px 20px 50px;
    background-color: white;
    box-shadow:none;
    border-radius: 12px;
    width: -webkit-fill-available;
  }

  .content-info {
    display: flex;
    align-items: center;
    gap: 34px;
    padding-bottom: 33px;
    width: -webkit-fill-available;
    display: none;
  }

  .content-info h3 {
    margin: 5px 0px;
    border: none;
    color: var(--dark-blue);
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .content-info span {
    margin: 0;
    border: none;
    color: #636363;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .bontact-form-container2 {
    width: -webkit-fill-available;

  }
}