.about-us-section {
  display: flex;
  justify-content: center;
  padding: 110px;
  background-color: var(--bg-blue);
  gap: 45px;
  border-bottom: 1px solid var(--bg-blue);
}
.about-us-section .left {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-section .left img {
  border-radius: 0 302px 0 0;
}
.about-us-section .right h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: var(--dark-blue);
}
.about-us-section .right .sub-title {
  width: 675px;
  height: 104px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}
.about-us-section .right .content {
  width: 480px;
  height: 75px;
  margin: 15px 0 30px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.about-us-section .right .about-tabs {
  border: 1px solid #dddddd;
  width: 462px;
  height: 155px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 16px;
}
.about-us-section .right .about-tabs .tab-list {
  /* width: 461px; */
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-section .right .about-tabs .tab-list .tab {
  /* width: 148px; */
  width: 100%;
  height: 28px;
  padding: 6px 20px;
  background-color: var(--bg-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #636363;
  cursor: pointer;
}
.about-us-section .right .about-tabs .tab-list .tab.active {
  background-color: var(--dark-blue);
  color: #fff;
}
.about-us-section .right .about-tabs .content {
  width: 424px;
  height: 50px;

  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;

  margin: auto;
  margin-bottom: 12px;
}
.about-us-section .right .about-tabs .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-us-section .right .about-tabs .tags .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about-us-section .right .co-founder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  gap: 30px;
}

.about-us-section .right .co-founder .flag {
  display: none;
}

.about-us-section .right .co-founder .flag .left,
.about-us-section .right .co-founder .flag .right {
  width: 40px;
  height: 80px;
}
.about-us-section .right .co-founder .flag .left {
  background-color: #175cff;
}
.about-us-section .right .co-founder .flag .right {
  background-color: #ffc226;
}
.about-us-section .right .co-founder .details .name {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #292930;
}
.about-us-section .right .co-founder .details .position {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #636363;
}
@media (max-width: 767px) {
  .about-us-section {
    flex-direction: column;
    padding: 20px;
  }
  .about-us-section .left {
    margin: auto;
    width: 320px;
  }
  .about-us-section .left img {
    width: 400px;
    border-radius: unset;
  }
  .about-us-section .right .sub-title {
    width: 320px;
    font-size: 30px;
    line-height: unset;
    height: auto;
  }
  .about-us-section .right .content {
    width: 320px;
    height: auto;
  }
  .about-us-section .right .about-tabs {
    width: 320px;
    height: auto;
  }
  .about-us-section .right .about-tabs .tab-list .tab {
    padding: 6px;
    height: 40px;
    border: 1px solid var(--dark-blue);
    font-size: 14px;
  }
  .about-us-section .right .about-tabs .content {
    width: 100%;
    padding: 10px;
    height: auto;
  }
  .about-us-section .right .about-tabs .tags {
    padding: 0 10px;
  }
}
