/* .MainButton-container{

} */
.MainButton-container button {
    width: 148px;
    height: 53px;
    color: white;
    background: #0c0520;
    /* background-image: linear-gradient(to right, var(--dark-blue), var(--blue), var(--light-blue)); */
    border-radius: 12px;
    border: none;
    font-family: "Jost", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.secondary-container button {
    width: 148px;
    height: 53px;
    color: #2e2d64;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.MainButton-container button:hover {
    background-color: var(--blue);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.secondary-container button:hover {
    color: #ffffff;
    background: var(--blue);
    /* border: 1px solid  var(--blue);
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px  var(--blue), 0 0 20px  var(--blue), 0 0 50px  var(--blue),
    0 0 100px  var(--blue); */
}


@media (min-width:280px) and (max-width:1162px) {
    .MainButton-container button {
        background-color: var(--blue);
    }

    .open3{
        display: flex !important;
        align-items: center !important;
        justify-content: center;
    }
}