.title-sub-container-project{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}
.project-section-container{
    padding: 100px 0px 150px;
    background-color: #f2fdff;
}

@media (min-width:280px) and (max-width:767px) {
    .project-section-container {
        padding: 37px 15px 30px;
        background-color: #f2fdff;
        overflow: hidden;
    }
    .title-sub-container-project{
        padding-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width:1400px) {
    .project-section-container {
        padding: 100px 24px 150px;
    }
}