.RobotEcommerce-contaniner {
    padding: 45px 0px 0px;
    background-image: url('./../../Images/Robot/shape-23-1.png');
    /* background-color: var(--dark-blue); */
}

@media (min-width:280px) and (max-width:600px) {
    .RobotEcommerce-contaniner {
        padding: 20px 0px 0px;
    }
}