.how-section{
    background-image: url('./../../Images/HowWork/about-bg (1).jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (min-width:280px) and (max-width:700px) {
    .how-section{
        background: #0b051f;
        height: -webkit-fill-available;
        padding: 25px 0px;
    }
}