.robot-bg-component {
  /* background-image:linear-gradient(to bottom, #ff8c91, #42A3D0, #32CBC8); */
  /* border-radius: 20px; */
  /* flex-wrap: wrap; */
  margin: -2px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 63px 10px 0px;
  background-image: url("./../../Images/HowWork/1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.robot-bg-component .robot-image {
  width: 600px;
}
.info-robot h1 {
  font-size: 40px;
  line-height: 1.7;
  font-weight: 700;
  display: block;
  margin-bottom: 0;
  color: white;
  font-family: "Jost", sans-serif;
  text-transform: capitalize;
}
.info-robot {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-robot p {
  width: 80%;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  line-height: 1.9;
  color: #9c9c9c;
  font-size: 20px;
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.robot-33 {
  transition: transform 1s ease-in-out;
}
.robot-33.animate {
  animation: slideLeftToRight 2s ease-in-out forwards;
}
@media (min-width: 280px) and (max-width: 1024px) {
  .robot-bg-component {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px;
    background: var(--dark-blue);
  }
  .robot-33 img {
    width: 280px;
  }
  .info-robot {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .info-robot h1 {
    font-size: 30px;
    text-align: center;
  }
  .info-robot p {
    text-align: center;
    width: -webkit-fill-available;
    font-size: 18px;
  }
}
