.statistics2 {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.statistics2 .stat {
  display: flex;
  width: 270px;
  height: 320.7px;
  padding: 51px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 147.68px;
  border: 1px dashed #ddd;
  background: #fff;
}
.statistics2 .stat .number {
  color: #292930;
  text-align: center;
  font-family: Poppins;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: -2px;
}
.statistics2 .stat .image {
  display: flex;
  width: 100px;
  height: 120px;
  padding: 23.5px 27.5px 43.5px 27.5px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  border-radius: 50px;
  background: #ffc226;
}
.statistics2 .stat .name {
  color: #636363;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.statistics2 .stat:nth-child(2) .image {
  background-color: #f792ff;
}
.statistics2 .stat:nth-child(3) .image {
  background-color: #ff8c91;
}
.statistics2 .stat:nth-child(4) .image {
  background-color: #a6e155;
}
