.container-of-services{
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    background:#f2fdff;
}
.sub-sub{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:280px) and (max-width:827px) {
    .container-of-services{
        padding: 50px 0px 0px;
    }
}