
.list-header-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}
.Container-Header-link.open .list-header-link{
   flex-direction: column;
}
.list-header-link-a {
    color: #0c0520;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative; 
    cursor: pointer;
    padding: 10px 0pc;
}
.open .list-header-link-a{
    font-size: 24px;
}

.Container-Header-link.open .list-header-link {
    padding: 50px 0px;
    gap: 59px;
}
.list-header-link-a.active {
    color: var(--blue);
}
.list-header-link-a::before {
    content: "";
    background:var(--blue) ;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0; 
    transition: all 0.4s ease-in-out;
}

.list-header-link-a:hover::before {
    width: 100%; 
}

