.How-Work_container-Step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 130px;
  padding: 70px 0px;
}

.step-container {
  display: flex;
  /* gap: 10px; */
}

.The-step-number {
  /* opacity: .5; */
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: -20px;
}

.description-of-steps {
  color: #ffffffde;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.container-Of-img-and-steps-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.div-img-steps {
  padding: 20px;
  border-radius: 50%;
}

.div-img-steps img {
  width: 70px;
  height: 70px;
}

.ww {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HowWorkWW {
  padding: 80px 0px 0px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.HowWorkWW {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.HowWorkWW.fadeInUp {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.The-step-number {
  opacity: 0;
  animation: fadeInRight 0.5s forwards;
}

.HowWorkWW.fadeInUp .The-step-number {
  animation: fadeInUp 0.5s forwards;
}

@media (min-width:280px) and (max-width:767px) {
  .How-Work_container-Step {
    gap: 35px;
    display: grid;
    grid-template-columns: repeat(1, 80%);
    padding: 45px 0px 10px;
  }
  .HowWorkWW {
    padding: 20px 0px 0px;
}
  .The-step-number {
    margin-top: 0px;
  }

  .step-container {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }
  .container-Of-img-and-steps-description {
    flex-direction: column;
    border-bottom: 1px solid #ededed38;
    padding-bottom: 30px;
  }
  .container-Of-img-and-steps-description.no-border {
    border-bottom: none;
}
}

@media (min-width:768px) and (max-width:1400px) {
  .HowWorkWW {
    padding: 140px 0px 0px;
}
}