.project-details .project-details-container {
  width: 1194px;
  margin: auto;
  margin-top: 100px;
}
.project-details .project-details-container .banner {
  background-image: url("../../../public/assets/project-details-banner.webp");
  width: 1170px;
  height: 495px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.project-details .project-details-container .banner .black-circle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  padding: 0 90px;
  border-radius: 200px;
  background: #000;
  color: #fff;
  gap: 15px;
  position: absolute;
  right: -48px;
  bottom: -95px;
}
.project-details .project-details-container .banner .blue-circle,
.project-details .project-details-container .banner .yellow-circle {
  position: absolute;
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 90px;
}
.project-details .project-details-container .banner .blue-circle {
  background-color: #175cff;
  top: -110px;
  right: -23px;
}
.project-details .project-details-container .banner .yellow-circle {
  background-color: #ffc226;
  top: -50px;
  right: -100px;
}
.project-details .project-details-container .banner .black-circle .data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.project-details
  .project-details-container
  .banner
  .black-circle
  .data
  span:nth-child(2) {
  font-family: Rubik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
.project-details
  .project-details-container
  .banner
  .black-circle
  .data
  span:nth-child(3) {
  color: #fff;
  font-family: Rubik;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.project-details .project-details-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 200px;
}
.project-details .project-details-content .title {
  color: #292930;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
}
.project-details .project-details-content p {
  color: #636363;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.project-details .digital-solution {
  display: flex;
  gap: 100px;
}
.project-details .digital-solution .main .section-title {
  color: #292930;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  margin-bottom: 20px;
}
.project-details .digital-solution .main p {
  color: #636363;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;
}
.project-details .digital-solution .main .tags {
  width: 400px;
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}
.project-details .digital-solution .main .tag {
  width: 182px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-details .digital-solution button {
  display: flex;
  height: 58.25px;
  padding: 13.875px 29.66px 15.125px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--dark-blue);
  border: none;
  color: #fff;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.25px;
  cursor: pointer;
  transition: 300ms;
}
.project-details .digital-solution button:hover {
  background-color: var(--blue);
}
